name: sign_in_with_apple
description: Flutter bridge to initiate Sign in with Apple (on iOS, macOS, and Android). Includes support for keychain entries as well as signing in with an Apple ID.
version: 6.1.4
homepage: https://github.com/aboutyou/dart_packages/tree/master/packages/sign_in_with_apple
repository: https://github.com/aboutyou/dart_packages

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter

  meta: ^1.3.0

  sign_in_with_apple_platform_interface: ^1.1.0

  sign_in_with_apple_web: ^2.1.1

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter

# Overrides useful for local development
# dependency_overrides:
#   sign_in_with_apple_platform_interface:
#     path: ../sign_in_with_apple_platform_interface

#   sign_in_with_apple_web:
#     path: ../sign_in_with_apple_web

flutter:
  plugin:
    platforms:
      android:
        package: com.aboutyou.dart_packages.sign_in_with_apple
        pluginClass: SignInWithApplePlugin
      ios:
        pluginClass: SignInWithApplePlugin
      macos:
        pluginClass: SignInWithApplePlugin
      web:
        default_package: sign_in_with_apple_web
